<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Navegacion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85E39723212DC5BE00B5E58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E39737212DC5BE00B5E58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E39742212DC5BE00B5E58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
